---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import AboutUs from "../components/AboutUs.astro";
import ContactUs from "../components/ContactUs.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Savvy Bytes">
  <nav
    id="nav"
    class="fixed inset-0 h-fit flex flex-row justify-between z-[999] p-8"
  >
    <div
      id="nav-backdrop"
      class="absolute inset-0 w-full h-full bg-gradient-to-b from-primary/75 to-transparent transition-all duration-200 ease-in-out z-[-1] opacity-0"
    >
    </div>
    <img
      class="w-auto h-[64px] flex"
      src="/images/logo.png"
      alt="Savvy Bytes logo"
    />

    <ul>
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#projects">Our Works</a>
      </li>
      <li>
        <a href="#about-us">About Us</a>
      </li>
    </ul>
  </nav>

  <Hero />
  <Projects />
  <AboutUs />
  <ContactUs />
  <Footer />
</Layout>

<script>
  const backdrop = document.querySelector("#nav-backdrop");

  window.addEventListener(
    "scroll",
    () => {
      if (window.scrollY > window.outerHeight) {
        backdrop.classList.add("opacity-1");
        backdrop.classList.remove("opacity-0");
      } else {
        backdrop.classList.add("opacity-0");
        backdrop.classList.remove("opacity-1");
      }
    },
    { passive: true }
  );
</script>
