---
const { flipped = false } = Astro.props;
---

<div class=`flex ${flipped ? 'flex-row-reverse' : 'flex-row'} w-full gap-16 p-10 items-center`>

    <div class="flex flex-col flex-1 gap-2">
        <h2 class="text-3xl font-lexend">Label</h2>
        <p class="text-base text-secondary/50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi unde quaerat rerum facilis! Molestiae dolores a aut nostrum voluptatum culpa sapiente beatae dolore adipisci laborum minus provident sit asperiores, ea pariatur illum ipsum, debitis accusantium, officia autem. Quam nesciunt soluta facilis laudantium expedita eum explicabo voluptates labore saepe minima!</p>
    </div>

    <div class="flex rounded-lg overflow-clip w-[54%] h-[240px] bg-black/50">

        

    </div>

</div>
