---
const { flipped = false, label, content, image, imageClass } = Astro.props;
---

<div class=`flex flex-col-reverse ${flipped ? ' md:flex-row-reverse' : ' md:flex-row'} w-full gap-8 md:gap-16 lg:p-10 items-center`>

    <div class="flex flex-col flex-1 gap-2 text-center md:text-start">
        <h2 class="text-3xl font-lexend font-bold text-gradient-to-b to-secondary/60">{label}</h2>
        <p class="text-base text-secondary/40">{content}</p>
    </div>

    <div class="flex items-center justify-center rounded-lg overflow-clip w-full md:w-[54%] h-[240px] bg-black/50">

        <img class={`object-cover w-full ${imageClass}`} src={image} alt="">
    
    </div>

</div>
