---
const { flipped = false } = Astro.props;
---

<div class=`flex flex-col-reverse ${flipped ? ' md:flex-row-reverse' : ' md:flex-row'} w-full gap-8 md:gap-16 lg:p-10 items-center`>

    <div class="flex flex-col flex-1 gap-2 text-center md:text-start">
        <h2 class="text-3xl font-lexend font-bold text-gradient-to-b to-secondary/60">Label</h2>
        <p class="text-base text-secondary/40">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi unde quaerat rerum facilis! Molestiae dolores a aut nostrum voluptatum culpa sapiente beatae dolore adipisci laborum minus provident sit asperiores, ea pariatur illum ipsum, debitis accusantium, officia autem. Quam nesciunt soluta facilis laudantium expedita eum explicabo voluptates labore saepe minima!</p>
    </div>

    <div class="flex rounded-lg overflow-clip w-full md:w-[54%] h-[240px] bg-black/50">

    
    </div>

</div>
