---
import AboutUsSection from './AboutUsSection.astro';
---

<div id="about-us" class="flex flex-col min-h-screen items-center w-full gap-20 scroll-mt-10">

        <h2 class="text-6xl font-lexend">About The Team</h2>

        <div class="flex flex-col w-full px-[256px] gap-14">

            <AboutUsSection />
            <AboutUsSection flipped/>
            <AboutUsSection />

        </div>

</div>
