<div
  id="contact-us"
  class="items-center w-full scroll-mt-10 relative py-36 px-64"
>
  <a
    href="mailto:savvybytes@gmail.com?subject=Interested in your Services"
    class="relative flex flex-col justify-center items-center w-full bg-tertiary rounded-lg p-16 gap-4 overflow-hidden shadow-tertiary/50 shadow-lg"
  >
    <img class="absolute inset-0 opacity-[0.1] w-full -translate-y-1/4 z-[0]" src="/images/logo.png" />
    <h2 class="text-6xl text-center font-lexend font-bold text-secondary z-10">
      Let's build your business
    </h2>
    <p>savvybytes@gmail.com</p>
  </a>
</div>
