<div id="footer" class="flex flex-col items-center w-full scroll-mt-10 relative px-5 lg:px-64">

  <div class="flex flex-col lg:flex-row justify-between lg:h-96 rounded-t-lg border border-b-0 border-secondary/10 w-full text-secondary/50 font-light p-16">
    <div class="flex flex-col lg:flex-row gap-24">
      <ul>
        <li><strong class="font-lexend text-secondary">NAVIGATION</strong></li>
        <li><a href="#home">Home</a></li>
        <li><a href="#projects">Our Works</a></li>
        <li><a href="#about-us">About Us</a></li>
      </ul>

      <ul>
        <li><strong class="font-lexend text-secondary">CONTACT</strong></li>
        <li>
          <a
            href="mailto:savvybytes@gmail.com?subject=Interested in your Services"
            >savvybytes@gmail.com</a
          >
        </li>
      </ul>

      <ul>
        <li><strong class="font-lexend text-secondary">SOCIALS</strong></li>
        <ul class="flex flex-row gap-4">
          <li>
            <a target="_blank" href="https://twitter.com">Twitter</a>
            <a target="_blank" href="https://facebook.com">Facebook</a>
            <a target="_blank" href="https://instagram.com">Instagram</a>
          </li>
        </ul>
      </ul>
    </div>

    <div class="flex flex-row-reverse items-end mt-20 lg:items-start lg:mt-0 lg:flex-col justify-between h-full">
      <div class="text-right">
        <p>© 2024 Savvy Bytes</p>
        <p>All rights reserved</p>
      </div>
      <img src="/images/logo.png" alt="Savvy Bytes Logo" class="w-32" />
    </div>
  </div>
</div>