<div class="flex flex-col items-center justify-center h-screen gap-12">

    <div class="flex flex-col font-lexend font-bold text-6xl items-center">
        <h2>The motive to make your</h2>
        <h2 class="text-tertiary">Business</h2>
    </div>

    <p class="text-base text-secondary/50 w-[448px] self-center text-center">We build websites, web apps, mobile apps, and software solutions to help your business grow.</p>

    <button>Get started today</button>
</div>