<div id="home" class="flex flex-col items-center justify-center min-h-[80vh] gap-12 relative pt-28">

    <img class="absolute top-0 left-0 w-full pointer-events-none" src="/images/dust.png" alt="">
    <img class="absolute top-0 left-0 w-full pointer-events-none" src="/images/light-rays.png" alt="">

    <div class="flex flex-col font-lexend font-bold text-6xl items-center z-10">
        <h2 class="bg-clip-text text-gradient-to-r">The motive to make your</h2>
        <h2 class="text-tertiary">Business</h2>
    </div>

    <p class="text-base text-secondary/50 w-[448px] self-center text-center">We build websites, web apps, mobile apps, and software solutions to help your business grow.</p>

    <button>Get started today</button>
</div>