---

const {label, dataId} = Astro.props
---

<button data-id={dataId} class="project-button text-base py-2 px-6 rounded-md ring-1 ring-white/20 text-secondary/50 bg-gradient-to-b from-secondary/20 to-white/0">
    {label}
</button>