---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/index.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>	
	</head>
	<body class="bg-primary text-secondary font-red-hat-display">
		<div class="flex flex-col w-full min-h-screen relative overflow-hidden">
			<slot />
		</div>
	</body>

	<style>
		* {
			scroll-behavior: smooth;
		}
	</style>	
</html>


